body {
}

.screenshots{
    width: 50%; 
    height 50%; 
}

.logo{
    width: 25%; 
    height: 25%; 
}

.chocobo {
    height: 83.5px;
    width: 62.5px;
}

.cactuar {
    height: 89px;
    width: 89px;
}
