body {
}

.screenshots{
    width: 50%; 
    height 50%; 
}

﻿.logo {
    height: 10%;
    width: 10%;
}

.chocobo {
    height: 83.5px;
    width: 62.5px;
}

.cactuar {
    height: 89px;
    width: 89px;
}
