@using Microsoft.AspNetCore.Identity
@model Fan_Website.Models.ProfileModel

@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content">
        <div class="row sectionHeader">
            <div class="sectionHeading noBorder">
                User Profile
            </div>
        </div>

            <div class="row userProfile">
                <div class="col-md-4">
                    @if (Model.ProfileImageUrl == null)
                    {
                        <img src="~/images/blankpicture.png" id="userProfileImage" style="background-size: 100%;">
                    }
                    else
                    {

                        <div id="userProfileImage" style="background-image: url(@Model.ProfileImageUrl); background-size:100%;"></div>
                    }

                    @if (Context.User.Identity.Name == Model.UserName)
                    {
                        <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="UploadProfileImage">
                            <div id="upload">
                                <label class="btn btn-default btn-file">
                                    Browse <input type="file" name="file" style="display: none;">
                                </label>
                            </div>
                            <button type="submit" id="btn-profile" class="btn btn-default">Submit</button>
                        </form>
                    }
                </div>
                <div class="col-md-8">
                    <span id="userName">@Model.UserName</span>

                    <span id="userRating">Current Rating: @Model.UesrRating</span>
                    <span id="userCreatedLabel">Member Since: @Model.MemberSince</span>
                    <span id="userActiveLabel">
                    </span>
                </div>
            </div>
        
    </div>
</body>
</html>