@model IEnumerable<Fan_Website.Models.Follow.Follow>
@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>
<html>
    <head>
        <link href="~/css/site.css" rel="stylesheet" />
    </head>
    <body>
        <link href="~/css/images.css" rel="stylesheet" />
        <div class="sectionHeader">
            <h3>Followers</h3>
        </div>


    </body>
</html>
