@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager 
@using System.Web

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Final Fantasy</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="~/images/chocobo2.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/images.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">


</head>
<body>
    <div class="text-center" style="background: skyblue">
        <img src="~/images/chocobo.png" class="chocobo" alt="chocobo" />
        <img src="~/images/logo.png" class="logo" alt="logo" />
        <img src="~/images/cactuar.png" class="cactuar" alt="cactuar" />
    </div>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index"><i class='inline-icon material-icons'>home</i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Screenshot" asp-action="Index"><i class="inline-icon material-icons">photo_camera</i> Screenshots</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Forum" asp-action="Index"><i class="inline-icon material-icons">forum</i> Forum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="NewUsers"><i class="inline-icon material-icons">person</i> New Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Post" asp-action="TopPosts"><i class="fa fa-diamond fa-3" aria-hidden="true"></i> Top Posts</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">
                                        account_circle
                                    </i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Profile" asp-action="Detail" asp-route-id="@userManager.GetUserId(User)">My Account </a>
                                    <a class="dropdown-item" asp-controller="Screenshot" asp-action="UserScreenshots">Your Screenshots</a>
                                    <a class="dropdown-item" asp-controller="Post" asp-action="UserPosts">Your Posts</a>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                                    <form method="post" asp-controller="Account" asp-action="Logout">
                                        <button class="dropdown-item" type="submit" style="border: none">
                                            Logout
                                        </button>
                                    </form>

                                </div>

                            </li>
                            <li class="nav-item">
                                
                                  
                            </li>


                        }
                        else
                        {

                            <li class="nav-item">
                                <a class="nav-link" asp-action="Register" asp-controller="Account">Register</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-action="Login" asp-controller="Account">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer class="border-top footer text-muted bg-white">
        <div class="container">
            &copy; 2021 - Final Fantasy Fan Site - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
