@model IEnumerable<ApplicationUser>
@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>
<html>
<body>
    <link href="~/css/images.css" rel="stylesheet" />

    @foreach (var user in Model)
    {
        if (signInManager.IsSignedIn(User) && user.UserName == User.Identity.Name)
        {
            if (user.ImagePath == null)
            {
                <img src="~/images/blankpicture.png" class="img-thumbnail pfp" />
                break;
            }
            <img src="~/images/@user.ImagePath" class="img-thumbnail pfp" />
        }
    }


    <h1>User</h1>
    @User.Identity.Name

    <a class="btn btn-primary" asp-controller="Account" asp-action="EditProfile">Edit Profile</a><br />


</body>
</html>