@model IEnumerable<ApplicationUser>
@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <link href="~/css/images.css" rel="stylesheet" />

    @foreach (var user in Model)
    {
        @user.UserName<br />
        if (user.ImagePath == null)
        {
            <img src="~/images/blankpicture.png" id="userProfileImage" style="background-size: 100%;"><br />
            break;
        }

        <div id="userProfileImage" style="background-image: url(@user.ImagePath); background-size:100%;"></div><br />

    }
</body>
</html>