@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html> 
<html>
<head>
    
</head>
<body>
    <link href="~/css/site.css" rel="stylesheet" />
    <h1 class="text-center">Final Fantasy XVI Trailer</h1>
    <video class="video" autoplay controls="controls">
        <source src="~/videos/Final%20Fantasy%20XVI%20-%20Awakening%20Trailer%20PS5.mp4" type="video/mp4" />
    </video>
</body> 
</html>