@model Fan_Website.ViewModel.PostViewModel  
@{
    string title = "Create " + ViewBag.Action;
    ViewBag.Title = title;
}


<h2>@title</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control">
    </div>


    <div class="form-group">
        <label asp-for="Content">Content</label>
        <input asp-for="Content" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Post" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
