
@model Fan_Website.Models.Post.DeletePostModel
@{
    ViewBag.Title = "Delete Post";
}

<h2>Delete Post</h2>

<br />


<h3>

 @Model.PostContent
</h3>

<form asp-action="Delete" method="post">

    <input type="hidden" asp-for="PostId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <input type="hidden" asp-for="ForumId" />
    <a asp-controller="Forum" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
