
@model Post
@{
    ViewBag.Title = "Delete Post";
}

<h2>Confirm Deletion</h2>

<br />


<h3>
    @Model.Title<br />
    <br />@Model.Content
</h3>

<form asp-action="Delete" method="post">

    <input type="hidden" asp-for="PostId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Post" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
