@model Fan_Website.ViewModel.PostViewModel 
@inject SignInManager<ApplicationUser> signInManager
@{
    ViewBag.Title = "Posts";

}

<!DOCTYPE html>
<html>
<body>

    <table class="table table-bordered">




    </table>



</body>
</html>