@model Fan_Website.Models.Screenshot.ScreenshotModel
@inject SignInManager<ApplicationUser> signInManager


@{
    ViewBag.Title = "Screenshots";
}


<!DOCTYPE html>
<html>
<head>
    <link href="~/css/images.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
</head>

<body>

    @if (signInManager.IsSignedIn(User))
    {
        <a class="btn btn-primary" asp-controller="Screenshot" asp-action="Create">Upload Screenshot</a><br />
    }


<style>
            .myImg {
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;
            }

                .myImg:hover {
                    opacity: 0.7;
                }

            /* The Modal (background) */
            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
            }

            /* Modal Content (image) */
            .modal-content {
                margin: auto;
                display: block;
                width: 80%;
                max-width: 700px;
            }

            @@keyframes zoom {
                from {
                    transform: scale(0.1)
                }

                to {
                    transform: scale(1)
                }
            }
            /* Caption of Modal Image */
            #caption {
                margin: auto;
                display: block;
                width: 80%;
                max-width: 700px;
                text-align: center;
                color: #ccc;
                padding: 10px 0;
                height: 150px;
            }

            /* Add Animation */
            .modal-content, #caption {
                animation-name: zoom;
                animation-duration: 0.6s;
            }

            /* The Close Button */
            .close {
                position: absolute;
                top: 15px;
                right: 35px;
                color: #f1f1f1;
                font-size: 40px;
                font-weight: bold;
                transition: 0.3s;
            }

                .close:hover,
                .close:focus {
                    color: #bbb;
                    text-decoration: none;
                    cursor: pointer;
                }
                @@media only screen and (max-width: 700px){
                .modal-content {
             width: 100%;
        }
}
</style>
<div class="card-body card-img-bottom bg-white">

    <h1><b>@Model.Title</b></h1>


    <div id="myImg" style="background-image: url(@Model.); background-size:100%;"></div>

    @Model.Content @if (signInManager.IsSignedIn(User) && Model.AuthorName == User.Identity.Name)
    {
        <a class="delete" style="text-align: right" asp-controller="Screenshot" asp-action="Delete"
           asp-route-id="@Model.ScreenshotId">Delete</a>
    }<br />
</div>
    }
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
    <script>
       
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = $('.myImg');
        var modalImg = $("#img01");
        var captionText = document.getElementById("caption");
        $('.myImg').click(function () {
            modal.style.display = "block";
            var newSrc = this.src;
            modalImg.attr('src', newSrc);
            captionText.innerHTML = this.alt;
        });

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>


</body>
</html>