@model List<Forum>
@inject SignInManager<IdentityUser> signInManager

@{
    ViewBag.Title = "Posts";
}

<!DOCTYPE html>
<html>
<body>
    @foreach (var post in Model)
    {
        <h1>@post.PostTitle</h1><a>@post.CreatedOn</a><a>@post.UserName</a><br /> 
        <a>@post.Post</a>
    }; 

</body>
</html>