@model List<Forum>
@inject SignInManager<IdentityUser> signInManager

@{
    ViewBag.Title = "Posts";
}

<!DOCTYPE html>
<html>
<body>
    @if (signInManager.IsSignedIn(User))
    {
        <a asp-controller="Forum" asp-action="Create">Create new forum</a><br />
    }
<table class="table table-bordered">
    <tbody>
        @foreach (var forum in Model)
        {
        <tr>
            <td><a asp-controller="Post" asp-action="Index">@forum.PostTitle </a></td>
            <td>
                @forum.Description @if (signInManager.IsSignedIn(User) && forum.UserName.Equals(User.Identity.Name))
                {
                    <a asp-controller = "Forum" asp-action = "Delete"
                                asp-route-id = "@forum.ForumId"
                                asp-route-slug = "@forum.Slug" ><p style="text-align: right">Delete</p>
                        </a>
                 }  
            </td>

            
        </tr>

        }
    </tbody>
</table>
</body>
</html>