@model Fan_Website.Models.Forum.ForumIndexModel
@inject SignInManager<ApplicationUser> signInManager

<div class="sectionHeader">
    <h1>Forums</h1>
    @if (signInManager.IsSignedIn(User))
    {
        <a asp-controller="Forum" asp-action="Create">Create Forum</a>

    }
</div>



<table class="table table-hover" id="forumIndexTable" style="background-color: white">
    <tbody>
        @foreach (var forum in Model.ForumList)
        {
            <tr>
                <td>
                    <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">
                        @forum.Name
                    </a>
                </td>
                <td>
                    @forum.Description
                    @if(User.Identity.Name == forum.AuthorName)
                {

                        <a asp-controller="Forum" asp-action="Delete" asp-route-id="@forum.Id" class="delete btn btn-link">
                            Delete
                        </a>
                }
                </td>
            </tr>
        }
    </tbody>
</table>